<div class="container">
  <input type="checkbox" [checked]="isClicked"(change)="isClicked = !isClicked"><span>Delete all</span>
  <input type="text">
  <button>Create</button>
  <table class="table table-striped table-sm table-bordered table-dark">
    <thead>
    <tr class="bg-success">
      <th *ngIf="isClicked"><button class="delete" (click)="erase()">Delete</button></th>
      <th>ID</th>
      <th style="cursor: pointer" (click)="Revers()">Name</th>
      <th>Birthday</th>
      <th>Gender</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of items;">
      <td class="delete"  *ngIf="isClicked" ><input type="checkbox" [checked]="item.checked"
                 (change)="item.checked = !item.checked"></td>
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.dateOfBirth}}</td>
      <td *ngIf="item.gender; else alternative">
        male
      </td>
      <ng-template #alternative>
        <td>female</td>
      </ng-template>
    </tr>
    </tbody>
  </table>
</div>

