<div>
  <h2>
    NewThird works!
  </h2>
</div>
<div class="container">
  <table class="table table-sm table-bordered table-dark table-striped">
    <thead>
    <tr class="bg-success">
      <th>ID</th>
      <th>Name</th>
      <th>Birthday</th>
      <th>Gender</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of items">
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.dateOfBirth}}</td>
      <td *ngIf="item.gender; else alternative">
        male
      </td>
      <ng-template #alternative>
         <td>female</td>
      </ng-template>
    </tr>
    </tbody>
  </table>
</div>
<div>
  <button (click)="search()">Click</button>

  <!--  <div *ngIf="response != null">-->
  <!--    <p>{{response.id}}</p>-->
  <!--    <p>{{response.name}}</p>-->
  <!--    <p>{{response.age}}</p>-->
  <!--  </div>-->
  <div>
    <pre>{{response | json}}</pre>
  </div>
  <div>
    <ul *ngFor="let item of response">
      <li>{{item.id}}</li>
      <li>{{item.name}}</li>
      <li>{{item.age}}</li>
    </ul>
  </div>
</div>
